.alert-header{
	/* position:absolute;left:0;top:0; */
	background-color:#3F4040;
	width:100%;
	padding:10px 5px;
	overflow:hidden;
}
.alert-header>h2{
	height:40px;line-height:40px;
	color:white;text-indent: 1em;
	font-size:18px;

}
.alert-header>span{
	float:right;color:white;
	width:30px;height:30px;
	font-size:25px;
	border-radius:15px;
	line-height:30px;
	border:1px solid white;
	text-align:center;
	margin-top:5px;
	margin-right:10px;
	cursor:pointer;
}
.alert-header>span:hover{
	box-shadow:0 0 5px 1px #ccc;
}
.alert-body>h2{font-size:18px;padding:25px 65px;}
.alert-footer{
	overflow:hidden;
	border-top:1px solid #E4E4E4;
	background-color:#F1F1F1;
	text-align:center;
	padding:10px 5px;

}
.alert-footer>input{
	float: right;
	font-size:14px;
	margin-bottom:5px;
	margin-right:20px;
	background-color:#3F4040;
	color:white;
	border:none;
	padding:5px 10px;
	border-radius:5px;
	cursor:pointer;
}
.alert-footer>input:hover{
	box-shadow:0 0 5px 1px #333;
}