/* 公共样式 */
*{padding:0;margin:0;}
body,html{height:100%;width:100%;}
ul{list-style: none;}
body{background:url(../img/login-bg.png);}

/* 公共样式End */

/* 字体图标引入 */

@font-face{
	font-family:"myfont";
	font-size:normal;
	font-weight:normal;
	src:
		url('../../css/fonts/raphaelicons-webfont.eot') format('eot'),
		url('../../css/fonts/raphaelicons-webfont.svg') format('svg'),
		url('../../css/fonts/raphaelicons-webfont.ttf') format('truetype'),
		url('../../css/fonts/raphaelicons-webfont.woff') format('woff');
}
/* 字体图标结束 */




/* 登录框style */

/* 整体框子style */
.login-wrapper{border:1px solid #dadada;box-shadow: 0 9px 30px -6px rgba(0,0,0,.2), 0 18px 20px -10px rgba(0,0,0,.04), 0 18px 20px -10px rgba(0,0,0,.04), 0 10px 20px -10px rgba(0,0,0,.04);display:inline-block;position:absolute;left:50%;top:50%;margin-top:-275px;margin-left:-220px;background:#FFFFFF;width:440px;height:550px;border-radius: 15px;animation-delay: .4s;}

/* 标题部分样式 */
.login-title{text-align:center;}
.login-title>.login-logo{margin-top:40px;display:inline-block;height:120px;width:120px;background-image: url(../img/logo.png);background-size:100% 100%;border-radius: 50%;transition:all 1s;}
.login-title>.login-logo:hover{transform:rotate(-360deg);}

.login-title>.login-title-message{margin-top:15px;font-weight:normal;color:#838181;}




/* 表单区域样式 */
.login-content{padding-top:30px;width:440px;}
.login-content ul{text-align: center;margin:0 auto;width:334px;}

/* 用户名密码验证框star */
.login-content ul li{margin-bottom:10px;display: inline-block;width:100%;border-radius: 10px;overflow:hidden;border:2px solid #ccc;}

.login-content ul li:hover{color:#CFCCCC;box-shadow: 0 0 5px 2px #ccc;}
.login-content .login-username,.login-content .login-password,.login-content .submit{width:330px;height:45px;background: #fff;/* box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset; */border-radius: 3px;font-size: 18px;background:#fbfbfb;}

.login-content ul li div>label{font-family: 'myfont';color:#bfbfbf;font-size:30px;}
.login-content  label span{width:45px;height:45px;display:inline-block;box-sizing: border-box;text-align: center;line-height: 45px;color:#8E8787;}



.login-content  input{height:100%;display:inline-block;width:280px;outline:none;box-sizing: border-box;padding:0 15px;float:right;color:#818181;border-width:0 0 0 1px;border-style: solid;border-color: #ddd;}

.login-content input::-webkit-input-placeholder{font-size:17px;color:#C3C4C7;}

.login-content ul li div{position:relative;}
.login-content ul li div .showerr{position:absolute;top:0;right:20px;height:21px;background:#d16d62;margin-top:10px;padding:2px 10px;color:#FFFFFF;font-size:12px;line-height: 21px;border-radius: 3px;}


/* 验证码框样式 */
.ceshi{text-align: left;}
.login-content .login-idcode{border-radius: 3px;display: inline-block;float:left;}
.login-content .login-idcode label span{width:45px;}
.login-content .login-idcode input{height:45px;width:165px;}

.login-idnum {display: inline-block;float:right;}
.login-content .login-idnum:hover{box-shadow: none;}
.login-content .login-idnum label{font-family: '微软雅黑';display: inline-block;width:100px;background:#D9D6D6;border-radius: 5px;}
.login-content .login-idnum label span{width:100%;text-align: center;cursor: pointer;}

/*验证码样式*/

.login-content .submit{border:none;}
.login-content .submit:hover{border:none;box-shadow: none;}
.login-content .submit input{width:330px;height:45px;border-radius:5px;font-size:17px;border:none;color:#f9f9f9;transition:all 1s;opacity:.7;box-shadow: none;cursor: pointer;background: linear-gradient(#6f97e5,#527ed9);}
.login-content .submit input:hover{opacity:1;border:none;
     box-shadow: inset 0 1px 2px #7ea1e8;color: #fff;text-shadow: #4f70b3 0 -1px 0;border:none;} 
/* 用户名密码验证框End */

/* 表单区域样式End */


/* 切换到前台部分 */

.login-content .transfer:hover{box-shadow: none;}
.login-content .transfer{width:100%;height:45px;text-align: center;}
.login-content .transfer a{text-decoration: none;color:#ccc;}

/* 切换到前台部分End */

/* 登录框End */
